:root {
  --primary-color: #6bb75c;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
  background: linear-gradient(#686868, #1b1b1b);
  overflow: hidden;
  color: #fff;
}
.app {
  width: 100vw;
  /* max-width: 1200px; */
  height: 100vh;
  padding: 20px;
  padding-left: 60px;
  overflow: auto;
  margin: auto;
}

.actions {
  display: flex;
  flex: 1;
  margin: 10px 0;
}

.btn {
  display: inline-block;
  padding: 5px 20px;
  background: #666666;
  color: #fff;
  border-radius: 25px;
  border: 1px solid rgb(223, 223, 223);
  text-decoration: none;
  text-align: center;
  margin: 10px;
  text-transform: uppercase;
  font-size: small;
  letter-spacing: 0.1rem;
  cursor: pointer;
}

.btn.filled {
  background: var(--primary-color);
  border: none;
}

.content {
  display: flex;
  align-items: flex-start;
  gap: 50px;
}
.tabs {
  display: flex;
  gap: 20px;
}
.tabs > .heading {
  cursor: pointer;
}
.tab {
  position: relative;
}
.tab > hr {
  position: absolute;
  bottom: 0;
}
.left-section {
  flex: 3;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.right-section {
  flex: 2;
}

.heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.heading > h2 {
  padding: 8px 0;
}
.heading > hr {
  width: 70px;
  height: 4px;
  background-color: var(--primary-color);
  border: none;
  border-radius: 10px;
}

.title {
  font-weight: bold;
}

.tab-content {
  flex: 1;
  display: none;
}

.tab-content.active {
  display: block;
}

.tab-content hr {
  width: 100%;
  height: 1px;
  background-color: rgb(221, 221, 221);
  border: none;
  border-radius: 10px;
  margin: 10px 0;
}

ol[prefix] {
  counter-reset: number;
  position: relative;
  margin-left: 30px;
}
ol[prefix] > li {
  list-style: none;
  counter-increment: number;
  color: #e9e9e9;
  margin: 10px 0;
}
ol[prefix] > li::before {
  content: var(--prefix) counter(number) ".";
  position: absolute;
  left: -30px;
}

.experience-section > ul {
  padding-left: 20px;
}
.experience-section > h4,
.experience-section > p {
  line-height: 1.5rem;
}
.experience-section > ul > li {
  margin: 5px 0;
}

.right-section {
  position: sticky;
  top: 0;
}

.projects-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* grid-template-rows: repeat(10, 100px); */
  align-items: stretch;
  gap: 20px;
  padding-top: 10px;
}

.project-outer-container {
  position: relative;
}

.project-container {
  padding: 20px;
  background: var(--primary-color);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  transition: all 0.5s ease;
  cursor: pointer;
  position: absolute;
}
.project-container > .project-detail {
  opacity: 0;
  /* transition: all 0.5s ease; */
}
.project-container:hover {
  box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.3);
}
.project-container:not(.active) > .project-detail {
  display: none;
  opacity: 0;
}

.project-container.flipping {
  padding: 20px;
  height: 100vh !important;
}
.project-container.active {
  width: 100vw;
  height: 100vh !important;
  z-index: 100;
  overflow: auto;
  cursor: auto;
}

.overlay {
  display: none;
}

.overlay > button {
  position: absolute;
  top: 20px;
  right: 20px;
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
  border: 2px solid red;
  padding: 5px;
  border-radius: 10px;
  z-index: 101;
  transition: all 0.3s ease;
  opacity: 0;
}
.overlay > button:hover {
  background: red;
}

.app:has(.project-container.active) > .overlay {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.2);
  z-index: 99;
  /* padding: 50px; */
}

.education-content {
  display: flex;
  flex-direction: column;
  padding: 10px 0;
  line-height: 1.4rem;
}

.education-content > .university {
  font-weight: bold;
}
.education-content > .degree,
.education-content > .gpa {
  color: #e9e9e9;
}
.education-content > .years {
  color: #adadad;
  font-size: small;
}

.skills > p {
  margin: 5px 0;
}

@media screen and (max-width: 768px) {
  .app {
    padding: 20px;
    padding-left: 20px;
  }
  .content {
    flex-direction: column-reverse;
  }
  .left-section {
    flex: 1;
  }
  .right-section {
    flex: 1;
    position: static;
  }
}
